body{
    display: flex;  /*განსაზღვრავს ელემენტებს განლაგებას flex ავტომატურად ხდება ერთ ერთი აპეციალურ ალგორითმად  */
    justify-content: center;/*ელემენტების ანტივერტიკალური აბ ჰორიზონტალური განლაგებისთვის გამოიყეება*/
    margin-top: 12%;
  }
  .bmw{
    position: relative;/*რამდენიმე დონეზე მდებარე ელემენტი ობიექტი*/
    width: 300px;
    height: 300px;
    
  }
  .o-c{
    width: 110%;
    height: 110%;
    border-radius: 50%;
    background-color: #1f1f1f;
    position: absolute; /*აძლევს საშუალებას რომ ელემენტი იყოს ყველაზე ახლო მშობელთან  */
    box-shadow: 0 8px 22px blue;
  }
  .i-c{
    width: 250px;
    height: 250px;
    background: white;
    border-radius: 50%;
    position: absolute;  /*აძლევს საშუალებას რომ ელემენტი იყოს ყველაზე ახლო მშობელთან  */
    top: 40px;/*გადაადგილდება ზევით*/
    left: 40px;/*გადაადგილდება მარცხნივ*/
    overflow: hidden;/*შიგთავს ჭრის*/
  }
 
  .w{
    position: absolute; /*აძლევს საშუალებას რომ ელემენტი იყოს ყველაზე ახლო მშობელთან  */
    width: 50%;
    height: 50%;
    
  }
  .b-l {
    background: #2791fa;
    border: 3px solid black;
    transform: translate(0,-4px);   /* transform: translate(6px) ამას იმისთვის ვიყენებთ რომ კონკრეტული ელემენტი გადავაადგილოთ მას შეუძლია ზევითაც გადაადგილდეს ქვევით მარჯვნივ მარცხნივ თავისთავად თუ კონკეტულ რაოდენობას მივუწერთ)); */
    margin: 2px;
    margin-left: -2px;
  }
  .b-r {
    background: #1e90ff;
    bottom: 0;
    right: 0;
    border: 3px solid black;
    margin-right: -8px;
    margin: -7px;
  }
  

  