body {
    display: flex;/*განსაზღვრავს ელემენტებს განლაგებას flex ავტომატურად ხდება ერთ ერთი აპეციალურ ალგორითმად  */
    justify-content: center;/*ელემენტების ანტივერტიკალური აბ ჰორიზონტალური განლაგებისთვის გამოიყეება*/
    background-color: #f6e3b9;
    align-items: center;/*ეს გამოიყენება ელემენტის განლაგებაში როდესაც ექნება flexbox ან grid */
    height: 100vh;
}

.m {
    position: relative; /*რამდენიმე დონეზე მდებარე ელემენტი ობიექტი*/
    width: 400px;
    height: 300px;
    background-color: white;
    border: 3px solid black;
}


.v {
    position: absolute;/*აძლევს საშუალებას რომ ელემენტი იყოს ყველაზე ახლო მშობელთან  */
    width: 50px;
    height: 300px;
    background-color: red;
    left: 170px; 
}

.h{
    position: absolute;/*აძლევს საშუალებას რომ ელემენტი იყოს ყველაზე ახლო მშობელთან  */
    width: 400px;
    height: 50px;
    background-color: red;
    top:125px;
}


.s {
    position: absolute;/*აძლევს საშუალებას რომ ელემენტი იყოს ყველაზე ახლო მშობელთან  */
    width: 22px;
    height: 22px;
}

.s .v {
    position: absolute;/*აძლევს საშუალებას რომ ელემენტი იყოს ყველაზე ახლო მშობელთან  */
    width: 9px;
    height: 24px;
    background-color: red;
    left: 9px; 
}

.s .h {
    position: absolute;/*აძლევს საშუალებას რომ ელემენტი იყოს ყველაზე ახლო მშობელთან  */
    width: 26px;
    height: 10px;
    background-color: red;
    top: 6px; 
}


.s.u-l {
    top: 50px;
    left: 50px;
}

.s.u-r {
    top: 50px;
    right: 60px;
}

.s.l {
    bottom: 50px;
    left: 50px;
}

.s.r{
    bottom: 50px;
    right: 60px;
}