* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #333;
}

.c {
    width: 90%;
    margin: auto;
}

.header {
    background-color: #f5f5f5;
    padding: 10px 0;
}

.a{
    display: flex;/*განსაზღვრავს ელემენტებს განლაგებას flex ავტომატურად ხდება ერთ ერთი აპეციალურ ალგორითმად  */
    justify-content: space-between;/*იმისთვის გამოიყენება რომ ქონდეს დისტანცია მაგრამ გამოიყენება როდესაც გვაქვს flexbow ან grid*/
    align-items: center;/*ეს გამოიყენება ელემენტის განლაგებაში როდესაც ექნება flexbox ან grid */
}

p{
    color: black;
    font-size: 15px;
    font-weight: bold;
    position: relative;/*რამდენიმე დონეზე მდებარე ელემენტი ობიექტი*/
    right: 500px;
}
.cd{
    width: 90px;
    position: relative;/*რამდენიმე დონეზე მდებარე ელემენტი ობიექტი*/
    left: 90px;
}
.hd{
    width: 150px;
}
.h{
    color: #ff4d00;
    font-family: serif;
    font-size: 25px;
    margin-left: 21%;
}

.nav-links p {
    cursor: pointer; /*მექანიკურად მაუსის ხელს გვანახებს */
    font-weight: bold;
    color: #333;
}

.b button{
    padding: 8px 15px;
    border-radius: 20px;
    cursor: pointer;/*მექანიკურად მაუსის ხელს გვანახებს */
    font-size: 18px;
    transition: all 0.3s ease;/*ეს გამოიყენება როდესაც ერთ-ერთი თვისება შეიცვლება და ყველა თვისება იქნება მოცემული დროით ანუ 0.3s ease არის გადასვლის ერთ-ერთი ეფექტი რომელიც რბილად მაგრამ ჩქარა გადავა  */
    border-color: 2px black;
    position: relative;/*რამდენიმე დონეზე მდებარე ელემენტი ობიექტი*/
    left: 80px;
    
}

.a-a-p {
    background: #fc9c03;
    color: white;
    margin-right: 10px;
    font-weight: bold;
    
}

.a-a-p:hover {
    background: #fc6000;
    font-size: 22px;
}

.d-n {
    background: #ff5500;
    color: white;
    font-weight: bold;
}

.d-n:hover {
    background: #ff8c00;
    font-size: 22px;
}
.bu button{
    padding: 8px 15px;
    border: none;
    border-radius: 20px;
    cursor: pointer;/*მექანიკურად მაუსის ხელს გვანახებს */
    font-size: 22px;
    transition: all 0.3s ease;
    
}

.a-A-p {
    background: #fc9c03;
    color: white;
    margin-right: 10px;
    border-color: black;
    font-weight: bold;
}

.a-A-p:hover {
    background: #fc6000;
    font-size: 25px;
}

.e{
    display: flex;/*განსაზღვრავს ელემენტებს განლაგებას flex ავტომატურად ხდება ერთ ერთი აპეციალურ ალგორითმად  */
    justify-content: space-between;/*იმისთვის გამოიყენება რომ ქონდეს დისტანცია მაგრამ გამოიყენება როდესაც გვაქვს flexbow ან grid*/
    align-items: center;/*ეს გამოიყენება ელემენტის განლაგებაში როდესაც ექნება flexbox ან grid */
    padding: 40px 0;
    background: url('dog.jpg') no-repeat center/cover;/*no-repeat : იმისთვის რომ არ გაიმეოროს ჩასმული სურათი , center : ეს იმისთვის რომ სურათი იყოს ცენტრში, cover : ეს იმისთვის რომ სურათი გაფართოვდეს ისე რომ დაფაროს მთლიანი ელემეტი*/
    color: rgb(0, 0, 0);
    text-align: left;
    height: 900px;/*ეს კიდე სურათის სიმაღლეს აკონტროლებს ამ მომენტში სიმაღლე გავზარდეთ )))*/
}

.e-c{
    max-width: 500px;
    margin-left: 14%;
    color: #ffffff;
    font-size: 50px;
    font-family: serif;
}
.p{
    color: #f5f5f5;
    font-size: 20px;
    position: relative;/*რამდენიმე დონეზე მდებარე ელემენტი ობიექტი*/
    left: 1px;
}

.ser{
    display: flex;/*განსაზღვრავს ელემენტებს განლაგებას flex ავტომატურად ხდება ერთ ერთი აპეციალურ ალგორითმად  */
    justify-content: space-around;/*ეს გამოიყენება იმისთვის რომ რა სივრცესაც მივუთითებთ იქნება პირველ ელემენტთან და ბოლო ელემენტთან */
    margin: 40px 0;
}
.le button{
    padding: 8px 15px;
    border-color: rgb(255, 64, 0);
    border-radius: 20px;
    cursor: pointer;/*მექანიკურად მაუსის ხელს გვანახებს */
    font-size: 20px;
    transition: all 0.3s ease;/*ეს გამოიყენება როდესაც ერთ-ერთი თვისება შეიცვლება და ყველა თვისება იქნება მოცემული დროით ანუ 0.3s ease არის გადასვლის ერთ-ერთი ეფექტი რომელიც რბილად მაგრამ ჩქარა გადავა  */
    
}
.l{
    background: #ffffff;
    color: rgb(255, 85, 0);
    margin-right: 10px;
    font-weight: bold;
    margin-top: 18%;
    
}
.h3{
    color: rgb(194, 55, 0);
    font-family: cursive;
    font-size: 25px;
    margin-left: 8%;
}

.l:hover{
    box-shadow: 0 6px 16px black;
    font-size: 24px ;
    color: #871f00;
}