body{
    background-image: url('back.jpg');
    background-size: 2300px;
    background-repeat: no-repeat;
    
}
.message{
    position: relative;
    left: 90px;
    top: 50px;
    width: 40px;
}
h1{
    position: relative;
    left: 135px;
    bottom: 30px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 42px;
}

.div{
    background-color: rgb(255, 255, 255)
    ;
    width: 900px;
    height: 500px;
    position: relative;
    left: 5%;
    top: 40px;
    border-radius: 15px;
}
.header{
    background-color: rgb(29, 29, 29);
    width: 900px;
    height: 50px;
    border-radius: 6px;
}
.img{
    width: 21px;
    position: relative;
    left: 63%;
    top: 12px;
}

.button6{
    padding: 9px  105px;
    position: relative;
    top: 5px;
    left: 7%;
    border-radius: 5px;
}
.mr1{
    width: 100px;
    position: relative;
    top: 60px;
    left: 60px;
    border-radius: 50%;
    
}
.button7{
    padding: 4px 50px;
    background-color: rgba(128, 128, 128, 0.259);
    position: relative;
    left: 90px;
    bottom: 15px;
    border: none;
}
.button8{
    padding: 3px 220px;
    background-color: rgba(128, 128, 128, 0.493);
    position: relative;
    left: -13px;
    border: none;
    bottom:-1px;
}
.button9{
    padding: 3px 200px;
    background-color: rgba(128, 128, 128, 0.493);
    position: relative;
    right: -195px;
    bottom: -1px;
    border: none;
}
.button10{
    padding: 3px 177px;
    background-color: rgba(128, 128, 128, 0.493);
    position: relative;
    right: 208px;
    top: 23px;
    border: none;
}



.div1{
    background-color: rgb(255, 255, 255)
    ;
    width: 280px;
    height: 500px;
    position: relative;
    left: 39%;
    top: -300px;
    border-radius: 15px;
}
.header1{
    background-color: rgb(29, 29, 29);
    width: 280px;
    height: 45px;
    border-radius: 6px;
}
.img1{
    width: 21px;
    position: relative;
    left: 41%;
    top: 8px;
}

.button5{
    padding: 9px  50px;
    position: relative;
    left: 7%;
    border-radius: 5px;
}

.mr2{
    width: 40px;
    position: relative;
    top: 15px;
    left: 30px;
    border-radius: 50%;
}
.button1{
    padding: 3px 40px;
    background-color: rgba(128, 128, 128, 0.259);
    position: relative;
    left: 40px;
    top: -15px;
    border: none;
}
.button2{
    padding: 2px 80px;
    background-color: rgba(128, 128, 128, 0.493);
    position: relative;
    left: 84px;
    border: none;
    bottom:23px;
}
.button3{
    padding: 2px 65px;
    background-color: rgba(128, 128, 128, 0.493);
    position: relative;
    right: -85px;
    bottom: 30px;
    border: none;
}
.button4{
    padding: 2px 45px;
    background-color: rgba(128, 128, 128, 0.493);
    position: relative;
    right: 49px;
    top: -20px;
    border: none;
}

h2{
    font-size: 45px;
    line-height: 1.6;
    position: relative;
    left: 58%;
    bottom: 930px;
    font-family:  sans-serif;
    color: white;
}

p{
    position: relative;
    left: 58%;
    bottom: 940px;
    line-height: 1.3;
    font-size:24px;
    color: white;
    font-family:  sans-serif;
}

.register{
    position: relative;
    left: 58%;
    bottom: 938px;
    padding: 20px 90px;
    border-radius: 30px;
    box-shadow: 0px 4px 7px;
    font-size: 20px;
}
.in{
    position: relative;
    left: 71%;
    bottom: 590px;
    width: 60px;
    margin: 10px;
}