body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: #fce9b6;
}

.shapes {
    display: flex;
    justify-content: space-around;
    width: 80%;
}

.shape {
    width: 100px;
    height: 100px;
    margin: 10px;
    background-color: rgb(230, 229, 173);
    
}


.circle {
    border-radius: 50%; 
    color: blue;
}


.rectangle {
    height: 50px;
    width: 100px;
}

.oval{
    height: 50px;
    width: 100px;
    border-radius: 50%;

}

.circle:hover{
    height: 50px;
    width: 100px;
    border-radius: 50%;
}

.rectangle:hover{
    border-radius: 50%; 
}
.oval:hover{
    height: 50px;
    width: 100px;

}
