body {
    font-family: Arial, sans-serif;
    background-color: #ffef73;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
.mtavar{
    max-width: 800px;
    background-color: #00e9fe;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}
button{
    margin-top: 20px;
    background-color:aquamarine
}