body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    line-height: 1.6;
    }
   
nav {
    background-color: #0bc9ee;
    padding: 10px;
    text-align: center;
    }
button {
    background-color: #f5fa92; 
    color: rgb(0, 184, 28);
    padding: 5px 10px;
    border-radius: 8px;
    font-size: 14px;
    transition:  0.3s, transform 0.3s;
    box-shadow: 0px 2px 6px ;
  }
button:hover {
    background-color: #60e86b; 
    transform: scale(1.1); 
    padding: 6px 15px;
    color: black;
    box-shadow: 0px 8px 12px rgb(93, 92, 92);
    border-radius: 20px;
  }

.h {
    background-color: #f4f4f4;
    padding: 40px;
    text-align: center;
    }
.h h1 {
    color: #081a84;
    }
.s{
    padding: 20px;
    margin: 20px;
    background-color: #a8f5cc;
    border-radius: 8px;
    }
.s:hover{
    font-size: 20px;
    background-color: #b5f4f4;
}    
.s h2 {
    color: #142bbd;
    }
        
.lin {
    color: #00dc07;
    text-decoration: none;
    }
.lin:hover {
    text-decoration: underline;
    }
footer {
    background-color: #0bc9ee;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 10px;
    }