body {
    font-family: cursive;
    margin: 0;
    padding: 0;
    background-color: #bb7856;
        }
header {
    background: #ad5521;
    color: #612d0b;
    text-align: center;
    padding: 1em;
    font-family: fantasy;
    font-size: 18px;
    box-shadow: 0px 3px 10px ; 
        }
section {
    padding: 2em;
    margin: 1em;
    padding: 20px;
    margin: 20px;
    background-color: #ba6635;
    border-radius: 12px;
    box-shadow: 0px 5px 12px ; 
        }
h2 {
    color: #862a08;
        }
footer {
    background-color: #ad5521;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 10px;
    box-shadow: 0px 3px 10px ; 
    }