body{
    background-color: rgb(255, 209, 156);/*უკანა ფონი იქნება კანისფერი */
}

.c {
    display: flex;/*ელემენტების განლაგება იქნება გვერძე*/
    flex-wrap:wrap;/*ელემენტები გადავლენ ახალ ხაზზე თუ არ დაეტევიან ერთ მწკრივში*/
    justify-content: space-between;/*ელემენტების განლაგება იქნება თანაბრად*/
    margin-top: 2%;/*ქვემოთ ჩამოვწევთ 2% - ით*/
}
.d {
    width: 18%;/*ყოველი ელემენტი იქნება დაიკავებს 18 - ტ %*/
    height: 100px;/*ელემენტის სიმაღლე იქნება 100პიქსელი*/
    background-color: rgba(255, 0, 0, 0.903);/*ელემენტის უკანა ფონი წითელი*/
    text-align: center;/*ტექსტი იქნება ცენტრში*/
    line-height: 100px;/*ვერტიკალურად იქნება ცენტრშ */
    margin: 10px;/*მარცხენა და მარჯვენა მარჟინით იქნება 10 პიქსელი*/
    color: rgb(0, 0, 0);/*ტექსტის ფერი იქნება შავი*/
}
.col { 
    flex-direction: column; /*ელემენტების განლაგება სვეტში*/
}
.rev { 
    flex-direction: row-reverse; /*ელემენტების განლაგება უკუღმა ბოლო ადგილზე რომელი ელემენტიც იმყოფება გახდება პირველი ელემენტი*/
}
.shr {
    flex-shrink: 1; /*ელემენტი შეიძლება შემცირდეს სივრცე თუ არიქნება დიდი*/
}
.grw { 
    flex-grow: 6; /*ელემენტი გაიზრდება რომ დამატებითი სივრცე ადგილი გამოიყენოს*/
}