body{
    background-color: #ffeec8;
}


header{
    display: flex;
    justify-content: center;
    background-color: #dadada;
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -10px;
}
  .mtavar{
    display: flex;
    margin: 22px;
  }
.one {
    width: 45%;
    padding: 30px;
    margin: 15px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px black;
    transition: transform 0.5s ease;
    margin-top: 15%;
    text-align: center;
  }
.two {
    width: 45%;
    padding: 30px;
    margin: 15px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px black;
    transition: transform 0.5s ease;
    margin-top: 15%;
    text-align: center;
  }
  

.one {
    background-color: #00ff08; 
  }
  
.one {
    margin-bottom: 10px;
    font-size: 1.5rem;
  }
  


  .two {
    background-color: #ff3c00; 
  }
  
  .two  {
    margin-bottom: 10px;
    font-size: 1.5rem;
  }

  .one:hover {
    transform: scale(1.07);
    box-shadow: 0 6px 14px black;
  }
  .two:hover {
    transform: scale(1.07);
    box-shadow: 0 6px 14px black;
  }